// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background-color: #D6F5FF;
}

.big-title {
  font-size: 70px;
}

.bottom-align {
  position:relative;
  top: 50px;
  left: 0px;
  font-size: 25px;
}

.cursive-header{
  font-family: 'Comfortaa';
}

.italic {
  font-style: italic;
  text-align: center;
}

.outer {
  position: relative;
}

.b-1 {
  position:relative;
  top:17px;
  left:17px;
}

.b-2{
  position:relative;
  bottom:-17px;
  left:17px;
}

.score {
  position:relative;
  font-size: 60px;

}

