<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<link href="assets/bootstrap.css" rel="stylesheet">

<script>
  $('#plus-button').on('click', function () {
    var $btn = $(this).button('loading')
    // business logic...
    $btn.button('reset')
  })
</script>

 
<HTML>
	<HEAD>
		<TITLE>Stanford Dinner</TITLE>
	</HEAD>
 
	<BODY>
		<h1>Dine<h1>
		<h2>Which Dining Hall is the best today?</h2>
		<div class="row">
			<% @halls.each do |hall| %>
				<div class="col-sm-4">
					<div class="panel"
						<div class"thumbnail">
							<img src="<%= hall.img %>">
							<div class="caption" id="<% hall.id %>">
								<h3><%= hall.name %></h3>
								<p><h4><%= hall.score %></h4></p>
								<p>
									<button type="button" class="btn btn-success" id="plus-button" role="button" onclick="buttonpress();">+</button>
									<button type="button" class="btn btn-danger" id="minus-button" role="button">-</button>
								</p>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</BODY>
</HTML>