<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<link href="assets/bootstrap.css" rel="stylesheet">

<script>
$(document).ready(function(){
	$('.plus-button').click(function(){
		alert("plus button  pressed");
	})
})
$(document).ready(function(){
	$('.minus-button').click(function(){
		alert("minus button  pressed");
	})
})
alert("javascript started");
</script> 

<HTML>
	<HEAD>
		<TITLE>Stanford Dinner</TITLE>
	</HEAD>
 
	<BODY>
		<h1>Dine<h1>
		<h2>Which Dining Hall is the best today?</h2>
		<div class="row">
			<% @halls.each do |hall| %>
				<div class="col-sm-4">
					<div class="panel"
						<div class"thumbnail">
							<img src="<%= hall.img %>">
							<div class="caption" id="<% hall.id %>">
								<h3><%= hall.name %></h3>
								<p><h4><%= hall.score %></h4></p>
								<p>
									<button type="button" class="btn btn-success plus-button" role="button">+</button>
									<button type="button" class="btn btn-danger minus-button" role="button">-</button>
								</p>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</BODY>
</HTML>